
  <!-- <button> <%= link_to "Signup", signup_path %> </button><br><br>
  <button><%= link_to "Login", login_path %> </button><br><br>
  <%= button_to "Sign in with Github", '/auth/github'%><br><br> -->

  <h1> Welcome to MyMeals </h1>

<h3>Came back from vacation and forgot that great little restaurant or cafe you visited?</h3>
  <h3>Sign up or login to keep track of all your culinary experiences!</h3>
