<h1>MyMeals Dashboard</h1>
<h1>Welcome <%= @user.first_name %> </h1>

<h3>Your Restaurants:</h3>
<ul>
<% @user.restaurants.uniq.each do |r| %>
<li> <%= link_to r.name, restaurant_path(r) %> </li>

<% end %>
</ul>