<h1>MyMeals Dashboard</h1>
<h1>Welcome <%= @user.first_name %> </h1>

<h3>Your Restaurants:</h3>
<% if @user.restaurants.empty? %>
<h3>You haven't entered any restaurants yet!</h3>
<% end %>


<% @user.restaurants.uniq.each do |r| %>
<div class="restaurants">
<%= link_to r.name, restaurant_path(r) %> - <%= r.location.name %><br><br>
</div>
<% end %>

